<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SillyTest.Properties.Settings.StorageConnectionString"
      connectionString="DefaultEndpointsProtocol=http;AccountName=portalvhds87hz1yygyk79j;AccountKey=6len1IQCc77uMq96IH4XnEqHuytM/2OKbEWyarABG+8J++r4XtcRY2BocozzkFKZvtTxakklGgoLPDSUYgSe2A==" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>